:root {
    --bs-primary-rgb: 88, 109, 245;
    --bs-primary: #586CF5;
    --bs-link-color: #586CF5;
    --bs-link-color-rgb: 88, 109, 245;
    --bs-link-hover-color: #8796f8;
    --bs-link-hover-color-rgb: 135, 150, 248;
    --bs-dropdown-link-hover-bg: #586CF5;
    --bs-dropdown-link-hover-bg-rgb: 88, 109, 245;
}

.dropdown-item:hover {
    --bs-dropdown-link-hover-bg: #586CF5;
    --bs-dropdown-link-hover-bg-rgb: 88, 109, 245;
}

.navbar.bg-primary {
    background-image: linear-gradient(#586CF5, #6878E4 60%, #6878E4);
}